#language1{
    border-style: solid;
    border-radius: 40px; 
    text-align: center;
    color: gray;
    border-color: #c5079c;    
}

#language{
    border-style: solid;
    border-radius: 40px; 
    text-align: center;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;       
}

.active {
    text-align: center;
    background-color: red;
    padding: 3%;
    border-radius: 50px;
    margin-right: -50px;
    margin-bottom: -3px;
    margin-left: -14px;
    color: aliceblue;
    background-image: linear-gradient(#A50080, #EF3A65);


}
p{
    border: 2px solid rgba(187, 187, 187, 255); 
    text-align: center; 
    cursor: pointer;
    border-radius: 6px; 
    color: rgba(187, 187, 187, 255);
    font-size: small;
}





